:root {
    --primary-color : ;
	 --primary-gradient: linear-gradient(rgb(143, 200, 181), rgb(217, 207, 249));
    --primary-bg : ;
    --font-family-size : ;
    --font-size-XL: 3rem ;
	 --font-size-L: 2rem ;
	 --font-size-M: 1rem ;
    --margin-size : ;
    --padding-size : ;
}
    